{%include 'jambu_muda/navbar2.html'%}
{% load static %}
<h1 class="text-center texthijau halo">Cari Buku, Yuk</h1>

<!-- Input table -->
<h1 class="text-center texthijau halo">Peminjaman dapat dilakukan di halaman <a href="{% url 'jambu_muda:pinjam' %}">pinjam buku</a>.</h1>
<br>
<table>

  <!-- Headers -->
  <thead>
  <tr>
    <th>Cover</th>
    <th>Nomor</th>
    <th>Judul</th>
    <th>Pengarang</th>
    <th>Penerbit</th>
    <th>Kategori</th>
    <th>Stok</th>
    <th>Sinopsis</th>
  </tr>
</thead>

  <!-- Mulai for loop -->
  {% for book in books %}
  <tbody>
  <tr>
    <td><img class="cover" src="{{ book.cover_base64 }}" onerror="this.onerror=null;this.src='{% static 'assets/def_img.jpg' %}';"></td>
    <td>{{ book.id_number }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.get_category_display }}</td>
    {% if book.quota == 0 %}
    <td class="empty"> Habis </td>
    {% else %}
    <td> {{book.quota}} </td>
    {% endif %}
    <td><a href="#modal{{ forloop.counter }}" class="modal-trigger"><button class="greenbut">Baca</button></a></td>

    <!-- Isi modal -->
    <div id="modal{{ forloop.counter }}" class="modal">
      <div class="modal-content">
        <!-- Isi pake judul buku -->
        <h4>{{ book.title }}</h4>
        <!-- Isi pake sinopsis buku -->
        <p>{{ book.synopsis|linebreaks }}</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  </tr>
  <!-- End for loop -->
  {% endfor %}
</tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var options = {};
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });
</script>
</body>