{% include 'jambu_muda/navbar.html' %}

<div class="container">
    <div class="row text-center">
      <h1 id="senang" class="judul">
        Lengkapi data anda <span class="texthijau">sekarang.</span>
      </h1>
    </div>
  </div>
<div class="container">
    <form action="" method="post" novalidate>

      {% csrf_token %}
      {% include 'jambu_muda/form_template.html' with form=pform %}
      <button type="submit" class="greenbut text-center">Complete</button>
    </form>
  </div>