{% include 'jambu_muda/navbar2.html' %}
{% load static %}

<div class="container">
  <div class="row">
    <h1 class="text-center texthijau halo">Halo, <b>{{ user.get_full_name }}</b></h1>
  </div>
  {% if borrowed_books %}
  <div class="row">
    <h1 class="text-center texthijau halo">Inilah daftar peminjamanmu.</h1>
  </div>
  {% endif %}
  <!-- Mulai For LOOP -->
  {% for borrowed_book in borrowed_books %}
  <div class="row">
      <div class="col s12 m7">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img class="cover" src="{{ borrowed_book.book.cover_base64 }}" onerror="this.onerror=null;this.src='{% static 'assets/def_img.jpg' %}';">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="textkotak">Nomor Buku</p>
                <p><b>{{ borrowed_book.book.id_number }}</b></p>
                <p class="textkotak">Judul</p>
                <p><b>{{ borrowed_book.book.title }}</b></p>
                <p class="textkotak">Kategori</p>
                <p><b>{{ borrowed_book.book.get_category_display }}</b></p>
                <p class="textkotak">Penulis</p>
                <p><b>{{ borrowed_book.book.author }}</b></p>
                <p class="textkotak">Penerbit</p>
                <p><b>{{ borrowed_book.book.publisher }}</b></p>
                <p class="textkotak">Tanggal Pinjam</p>
                <p><b>{{ borrowed_book.date }}</b></p>
              </div>
            </div>
          </div>
        </div>
  </div>
  {% empty %}
  <h1 class="text-center texthijau halo">Anda sedang tidak meminjam buku.</h1>
  {% endfor %}
  <!-- END FOR LOOP -->
  <div class="container hide-on-med-and-up">
      <div class="row text-center">
        <a href="{% url 'jambu_muda:logout' %}" class="redbut">Log out</a>
      </div>
  </div>
</div>
