{% load widget_tweaks %} {% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %} {% if form.non_field_errors %}
<div class="card-panel red white-text">
  {% for error in form.non_field_errors %}
  {{ error }}
  <br />
  {% endfor %}
</div>
{% endif %} {% for field in form.visible_fields %}
<div>
  {{ field.label_tag }}

  {% if form.is_bound %} {% if field.errors %} {%render_field field class+="invalid" %}
  <div class="red-text">
    {% for error in field.errors %}
    {{ error }}
    <br />
    {% endfor %}
    <br />
  </div>
  {% else %} {% render_field field class+="valid" %} {% endif %} {% else %} 
  {% render_field field %} {% endif %} 
  {% if field.help_text %}
  <small class="form-text text-muted">{{ field.help_text }}</small>
  {% endif %}
</div>
{% endfor %}
<br />
