{% include 'jambu_muda/navbar.html' %}
{% load static %}
  <!-- Main Body -->
  <div class="overlay center">
      <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
  </div>
  
  <img class="gambar1 responsive-img" src="{% static 'assets/1.png' %}" alt="" id="asset1" />
  <div class="container" id="awal">
    <div class="row">
      <div class="col s12 m12 l8 tgline">
        <h1 class="judul">Meminjam buku</h1>
        <h1 class="judul">senikmat <span class="texthijau">jambu</span>.</h1>
      </div>
      <div class="col s12 m12 l6">
      </div>
      <div class="col s12 m12 l6">
          <h1 style="font-size:1em;">
            Sekarang meminjam buku hanya memerlukan satu menit.
          </h1>
          <a href="{% url 'jambu_muda:signup' %}"><button class="greenbut">Pinjam</button></a>
          <a href="{% url 'jambu_muda:login' %}"><button class="greenbut_alt">Masuk</button></a>
        </div>
    </div>
  </div>


  <img class="gambar1" src="{% static 'assets/2.png' %}" alt="" id="asset2" />

  <div class="container" id="tentang">
    <div class="row">
      <div class="col s12 m12 l6 tgline">
        <h1 class="judul">Tentang kami</h1>
        <p class="sub2">
          sijambu muda adalah sebuah platform peminjaman buku yang dibuat
          untuk memudahkan peminjam buku meminjam dan melacak pinjamannya.
        </p>
        <p class="motto">daftar. pinjam. baca.</p>
      </div>
    </div>
  </div>

  <div class="container" id="stats">
    <div class="row">
      <div class="col s12 m12 l12">
        <h1 class="judul">Stats</h1>
        <p class="sub2">Saat ini kami telah memiliki:</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="kotak">
          <p>{{ book_count }}<br>buku</p>
        </div>
      </div>
      <div class="col s12 m12 l3">
        <div class="kotak">
          <p>{{ user_count }}<br>pengguna</p>
        </div>
      </div>
      <div class="col s12 m12 l3">
        <p class="sub2">.. dan ini baru permulaan.</p>
      </div>
    </div>
  </div>

  <section class="bg-green" id="faq">
    <div class="container" style="padding-bottom: 1em;">
      <h1 class="faq">FAQ</h1>
      <p style="color: white; font-size:1.2em; margin:0;" class="subtitle">
        Bagaimana cara meminjam di sijambu muda?
      </p>
      <p class="subtitle" style="font-size: 1.2em; font-weight:
    300; color: white; margin: 0; margin-bottom: 1em;">
        Daftarkan diri anda, pilih buku yang anda ingin pinjam, lalu pinjam.
        Begitu mudah.
      </p>
      <p style="color: white; font-size:1.2em; margin:0; " class="subtitle">
        Apakah ada batas peminjaman di sijambu muda?
      </p>
      <p class="subtitle" style="font-size: 1.2em; font-weight:
    300; color: white; margin: 0; margin-bottom: 1em;">
        Batas peminjaman anda adalah 2 minggu.
      </p>
      <p style="color: white; font-size:1.2em; margin:0; " class="subtitle">
        Apakah ada batasan umur untuk meminjam?
      </p>
      <p class="subtitle" style="font-size: 1.2em; font-weight:
    300; color: white; margin: 0; margin-bottom: 1em;">
        Tidak, selama anda terdaftar di instansi akademik (sekolah atau
        universitas).
      </p>
      <p style="color: white; font-size:1.2em; margin:0; " class="subtitle">
        Apa yang terjadi bila saya terlambat mengembalikan?
      </p>
      <p class="subtitle" style="font-size: 1.2em; font-weight:
    300; color: white; margin: 0; margin-bottom: 1em;">
        Anda dikenakan denda Rp 1000 per hari.
      </p>
      <p style="color: white; font-size:1.2em; margin:0; " class="subtitle">
        Website nya keren banget, siapa yang bikin?
      </p>
      <p class="subtitle" style="font-size: 1.2em; font-weight:
    300; color: white; margin: 0; margin-bottom: 1em;">
        Makasih~ Lihat contributor <a href="https://gitlab.com/ppw-sans/sijambumuda" >disini</a>.
      </p>
    </div>
  </section>
<!-- Testimony -->
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 text-center">
        <h1 class="subtitle text-center">
          Testimoni
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 text-center">
        <div id="carousel">
          {% for testi in testimoni %}
          <div class="kartu-testi">
            <h5>{{testi.comment}}</h5>
            <p><b>{{testi.user.get_full_name}}</b></p>
          </div>
          {% endfor %}
        </div>
        <a href="{% url 'jambu_muda:login' %}"><button class="greenbut">Login untuk memberikan testimoni</button></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 text-center">
        <h1 class="subtitle text-center">
          “There is no friend as loyal as a book.”
        </h1>
        <h1 class="subtitle text-center ernes">-Ernest Hemingway</h1>
        <a href="{% url 'jambu_muda:signup' %}"><button class="greenbut">Pinjam</button></a>
      </div>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="{% static 'js/carousel.js' %}"></script>
</body>

</html>

<!-- 

██╗██████╗  ██████╗ ███╗   ██╗███╗   ███╗ █████╗ ███╗   ██╗                     
██║██╔══██╗██╔═══██╗████╗  ██║████╗ ████║██╔══██╗████╗  ██║                     
██║██████╔╝██║   ██║██╔██╗ ██║██╔████╔██║███████║██╔██╗ ██║                     
██║██╔══██╗██║   ██║██║╚██╗██║██║╚██╔╝██║██╔══██║██║╚██╗██║                     
██║██║  ██║╚██████╔╝██║ ╚████║██║ ╚═╝ ██║██║  ██║██║ ╚████║                     
╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝                     
                                                                                
 █████╗ ███╗   ██╗██████╗                                                       
██╔══██╗████╗  ██║██╔══██╗                                                      
███████║██╔██╗ ██║██║  ██║                                                      
██╔══██║██║╚██╗██║██║  ██║                                                      
██║  ██║██║ ╚████║██████╔╝                                                      
╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝                                                       
                                                                                
██████╗ ██╗      █████╗  ██████╗██╗  ██╗██╗    ██╗██╗██████╗  ██████╗ ██╗    ██╗
██╔══██╗██║     ██╔══██╗██╔════╝██║ ██╔╝██║    ██║██║██╔══██╗██╔═══██╗██║    ██║
██████╔╝██║     ███████║██║     █████╔╝ ██║ █╗ ██║██║██║  ██║██║   ██║██║ █╗ ██║
██╔══██╗██║     ██╔══██║██║     ██╔═██╗ ██║███╗██║██║██║  ██║██║   ██║██║███╗██║
██████╔╝███████╗██║  ██║╚██████╗██║  ██╗╚███╔███╔╝██║██████╔╝╚██████╔╝╚███╔███╔╝
╚═════╝ ╚══════╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝ ╚══╝╚══╝ ╚═╝╚═════╝  ╚═════╝  ╚══╝╚══╝ 
                                                                                
██████╗ ██╗███████╗██████╗                                                      
██╔══██╗██║██╔════╝██╔══██╗                                                     
██║  ██║██║█████╗  ██║  ██║                                                     
██║  ██║██║██╔══╝  ██║  ██║                                                     
██████╔╝██║███████╗██████╔╝                                                     
╚═════╝ ╚═╝╚══════╝╚═════╝                                                      
                                                                                




 -->