{% include 'jambu_muda/navbar.html' %}

<div class="container">
    <div class="row text-center">
        <h1 class="judul" id="senang">Senang melihat anda <span class="texthijau">kembali</span>.</h1>
    </div>
</div>



<!-- Isi forms disini -->

<!-- Masukin form disini -->
<div class="container">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% include 'jambu_muda/form_template.html' with form=form %}
        <button type="submit" class="greenbut">Log in</button>
        <br>
        <br>
        <p>atau masuk dengan</p>
        <div class="btn white darken-4 col s10 m4">
            <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                <div>
                    <i class="fab fa-google"></i>
                    Google
                </div>
            </a>
       </div>
    </form>

</div>

<div class="container">
    <div class="row">
        <p class="lmao">Belum punya akun? Mari<a href="{% url 'jambu_muda:signup' %}"> Daftar</a></p>
    </div>
</div>