{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>Situs pinjam buku | Sijambumuda</title>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Poppins font -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400i,500,600,700"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var options = {
          format: "yyyy-mm-dd",
          defaultDate: new Date(),
          minDate: new Date(),
          setDefaultDate: true
        };
        var elems = document.querySelector(".datepicker");
        var instance = M.Datepicker.init(elems, options);
      });
      document.addEventListener("DOMContentLoaded", function() {
        var options = {};
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, options);
      });
    </script>
    <script src="{% static "js/carousel.js" %}"></script>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="navhello">
        <div class="nav-wrapper white">
          <a
            href="{% url 'jambu_muda:dashboard' %}"
            class="brandz"
            style="color:black;"
            >sijambu muda</a
          >\
          <a href="{% url 'jambu_muda:cari' %}" class="brand-menu">Cari</a>
          <a href="{% url 'jambu_muda:pinjam' %}" class="brand-menu">Pinjam</a>
          <a href="{% url 'jambu_muda:peminjaman' %}" class="brand-menu"
            >Peminjaman</a
          >
          <a href="{% url 'book_count:riwayat' %}" class="brand-menu">Riwayat</a>
          <a href="{% url 'jambu_muda:testimoni' %}" class="brand-menu">Testimoni</a>
          {% if user.is_superuser %}
          <a href="{% url 'jambu_muda:tambah_buku' %}" class="brand-menu"
            >Tambah Buku</a
          >
          {% endif %}
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="#" class="brand-menu2">Hello, {{ user.first_name }}</a>
            </li>
            <li>
              <a href="{% url 'jambu_muda:logout' %}"
                ><button class="redbut">Log out</button></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
