{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>Situs pinjam buku | Sijambumuda</title>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Font-awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!-- Poppins font -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400i,500,600,700"
      rel="stylesheet"
    />
    <script src="{% static "js/carousel.js" %}"></script>
  </head>

  <body>
    
    <div class="navbar-fixed">
      <nav class="navhello">
        <div class="nav-wrapper white">
          <a
            href="{% url 'jambu_muda:index' %}"
            class="brandz"
            style="color:black;"
            >sijambu muda</a
          >\
          <a href="#tentang" class="brand-menu">Tentang</a>
          <a href="#stats" class="brand-menu">Stats</a>
          <a href="#faq" class="brand-menu">FAQ</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="{% url 'jambu_muda:signup' %}" class="brand-menu2"
                >Sign up</a
              >
            </li>
            <li>
              <a href="{% url 'jambu_muda:login' %}"
                ><button class="greenbut">Log in</button></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
