{% include 'jambu_muda/navbar2.html' %}
{% load static %}

<div class="container">
  <h1 class="text-center texthijau halo">Daftar Peminjaman Anggota Perpustakaan</h1>

  <!-- Mulai For LOOP -->
  {% for book in books %}
  <div class="row">
      <div class="col s12 m7">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img class="cover" src="{{ book.cover_base64 }}" onerror="this.onerror=null;this.src='{% static 'assets/def_img.jpg' %}';">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="textkotak">Nomor Buku</p>
                <p><b>{{ book.id_number }}</b></p>
                <p class="textkotak">Judul</p>
                <p><b>{{ book.title }}</b></p>
                <p class="textkotak">Kategori</p>
                <p><b>{{ book.get_category_display }}</b></p>
                <p class="textkotak">Penulis</p>
                <p><b>{{ book.author }}</b></p>
                <p class="textkotak">Penerbit</p>
                <p><b>{{ book.publisher }}</b></p>

                <hr>

                <p class="textkotak">Peminjam</p>
                {% for username in book.get_borrow %}
                  {{ username }}
                  <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
  </div>
  {% empty %}
  <h1 class="text-center texthijau halo">Tidak ada buku yang sedang dipinjam.</h1>
  {% endfor %}
  <!-- END FOR LOOP -->

</div>