{% include 'jambu_muda/navbar2.html' %}


<h1 class="text-center texthijau halo">Pinjam Buku, Yuk</h1>
<!-- Isi forms disini -->

<!-- Masukin form disini -->
<div class="container">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% include 'jambu_muda/form_template.html' with form=form %}
        <button type="submit" class="greenbut text-center">Pinjam Buku</button>
    </form>

</div>
