{% include 'jambu_muda/navbar.html' %}

<!-- Isi forms disini -->

<div class="container">
  <div class="row text-center">
    <h1 id="senang" class="judul">
      Perjalanan anda dimulai <span class="texthijau">disini</span>.
    </h1>
  </div>
</div>
<!-- Masukin form disini -->
<div class="container">
  <form action="" method="post" novalidate>
    {% csrf_token %} {% include 'jambu_muda/form_template.html' with form=uform%} 
    {% include 'jambu_muda/form_template.html' with form=pform %}
    <button type="submit" class="greenbut text-center">Sign up</button>
  </form>
</div>

<div class="container">
  <div class="row">
    <p class="lmao">
      Sudah punya akun? Mari <a href="{% url 'jambu_muda:login' %}">Masuk</a>
    </p>
  </div>
</div>
