{% include 'jambu_muda/navbar2.html' %}


<!-- Isi forms disini -->

<div class="container">
    <div class="row text-center">
        <h1 id="senang" class="judul">Perjalanan anda dimulai <span class="texthijau">disini</span>.</h1>
    </div>
</div>
<!-- Masukin form disini -->
<div class="container">
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'jambu_muda/form_template.html' with form=form %}
        <button type="submit" class="greenbut text-center">Tambah Buku</button>
    </form>

</div>