{% load static %}
{% include 'jambu_muda/navbar2.html' %}

<div class="container">
        <div class="row text-center">
            <h1 class="judul" id="senang">Mari berikan <span class="texthijau">testimoni</span>.</h1>
        </div>

        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="greenbut">Submit</button>
            </form>
        </div>
</div>
