{% include 'jambu_muda/navbar2.html' %}
{% load static %}

<div class="container">
    <div id="riwayat">
    </div>

    <div class="container hide-on-med-and-up">
        <div class="row text-center">
            <a href="{% url 'jambu_muda:logout' %}" class="redbut">Log out</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'book_count:riwayat_data' %}",
            dataType: 'json',
            success: function (data) {
                obj = $.parseJSON(data);
                obj_length = Object.keys(obj).length;
                query = '';

                if(obj_length > 0){
                    info = `
                        <div class="row">
                            <h1 class="text-center texthijau halo">Riwayat Peminjaman Anda</h1>
                            <h1 class="text-center texthijau halo">( ` + obj_length + ` buku )</h>
                        </div>
                    `;
                } else {
                    info = `
                    <h1 class="text-center texthijau halo">Anda belum pernah meminjam buku.</h1>
                    `;
                }

                $.each(obj, function(i, item){
                    query += `
                    <div class="row">
                        <div class="col s12 m7">
                            <div class="card horizontal hoverable">
                                <div class="card-image">
                                    <img class="cover" src="` + item.cover + `"
                                        onerror="this.onerror=null;this.src='{% static 'assets/def_img.jpg' %}';">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p class="textkotak">Nomor Buku</p>
                                        <p><b>` + item.id + `</b></p>
                                        <p class="textkotak">Judul</p>
                                        <p><b>` + item.title + `</b></p>
                                        <p class="textkotak">Kategori</p>
                                        <p><b>` + item.category + `</b></p>
                                        <p class="textkotak">Penulis</p>
                                        <p><b>` + item.author + `</b></p>
                                        <p class="textkotak">Penerbit</p>
                                        <p><b>` + item.publisher + `</b></p>
                                        <p class="textkotak">Tanggal Pinjam</p>
                                        <p><b>` + item.date + `</b></p>
                                        <p class="textkotak">Tanggal Kembali</p>
                                        <p><b>` + item.return_date + `</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
                });

                $('#riwayat').append(info);
                $('#riwayat').append(query);
            }
        });
    });
</script>