html {
  scroll-behavior: smooth;
}

.lmao {
  color: black;
}

.brandz {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 1.3rem;
  padding-left: 2rem;
}

.brand-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #757575;
  font-size: 0.8rem;
  padding-left: 1rem;
}
.navhello {
  box-shadow: 0px -3px 29px rgba(0, 0, 0, 0.140115);
}

.brand-menu2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #28a745;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.greenbut {
  background: #28a745;
  border-radius: 6px;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 0.5em 2em;
  border: solid #28a745;
  border-width: 1px;
}

.greenbut_alt {
  border: solid #28a745;
  border-width: 1px;
  border-radius: 6px;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
  padding: 0.5em 2em;
  background: white;
}

.greenbut_alt:hover {
  background: #28a745;
  color: white;
}

.redbut {
  background: #e74c3c;
  border-radius: 6px;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 0.5em 2em;
}

.hijau {
  background: #28a745;
}

@media (max-width: 400px) {
  .brand-menu {
    display: none;
  }
  .brandz {
    align-content: center;
  }
}

.tgline {
  margin-top: 5em;
  font-family: "Poppins";
}

.judul {
  font-size: 3.5em;
  line-height: 20%;
  color: #1b1b1b;
  font-weight: 700;
}

.texthijau {
  color: #28a745;
}

.subtitle {
  font-family: "Poppins";
  font-weight: 600;
  color: black;
  text-align: left;
  font-size: 2em;
}

.gambar1 {
  float: right;
  width: 25em;
}

.sub2 {
  margin-top: 2em;
}

.motto {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 700;
  margin-top: 1em;
}

.kotak {
  width: 5em;
  height: 5em;
  border: 1px solid #979797;
  font-size: 3em;
  margin-top: 0.7em;
  text-align: center;
  vertical-align: middle;
  border-radius: 9px;
}

.bg-green {
  background-color: #28a745;
}

.faq {
  font-size: 3.5em;
  color: white;
  font-weight: 700;
  padding-top: 1em;
}

.text-center {
  vertical-align: middle;
  text-align: center;
}

.ernes {
  font-weight: 400;
  font-style: italic;
}

/* Asset hiding */
@media (max-width: 1000px) {
  #asset1,
  #asset2 {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .judul {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 400px) {
  .judul,
  #senang {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 800px) {
  #senang {
    font-size: 1.7em;
    text-align: center;
  }
}

@media only screen and (max-width: 373px) {
  #senang {
    font-size: 1.1em;
    text-align: center;
  }
}

@media only screen and (max-width: 250px) {
  #senang {
    font-size: 0.9em;
    text-align: center;
  }
}

.caribukuyuk {
  font-size: 3.5em;
  line-height: 20%;
  color: #28a745;
  font-weight: 700;
}

#kartu {
  align-content: center;
}

.card {
  border-radius: 13px;
}

.textkotak {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #28a745;
  font-size: 0.8rem;
}

.halo {
  font-family: "Poppins";
  font-size: 2em;
  font-weight: 500;
}

.text-input {
  border-radius: 9px;
  border: 4px solid #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 280px;
  background-color: #f25c54;
  border-color: white;
  color: black;
}

.cover {
  max-width: 150px;
}

.card .cover {
  width: 300px;
}

.empty {
  color: red;
}

.overlay{
  position: fixed;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#ffffff;
  z-index: 999;
  width: 100%;
  height: 100%;
  size: cover;
}